.logos {
    color: black;
}
.cream {
    font-weight: 500;
    color: #e690a3;
    text-decoration: inherit;
}
.cream:hover,
.logos:hover {
    color: #fff8b2;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #78cdc0;
    /* display: flex; */
    min-width: 320px;
    min-height: 100vh;
}
